.ingredient {
    display: flex;
    flex-direction: column;
    position: relative;
}

.burger_ingredient_cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.burger_ingredient_text {
    display: flex;
    justify-content: center;
}