.ingredient_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.title {
  margin-top: 40px;
  margin-right: 200px;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
