.wrapper {
   
    width: 550px;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.input {
background-color: #2F2F37;
border-radius: 40px;
height: 70px;
width: 100%;
}

.paragraph {
display: flex;

}