.constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main_ingredients_wrap {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.main_ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 130px;
  cursor: pointer;
}

.bun {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  gap: 24px;
  align-items: center;
}

.order {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: end;
}
