.profile {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin-top: 120px;
}
.wrapper {
    width: 550px;
    margin: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 320px;

}

.span {
    opacity: 0.4;
}

.text {
    cursor: pointer;
}

.input {
    background-color: #2F2F37;
    border-radius: 40px;
    height: 70px;
    width: 100%;
    color: var(--text-inactive-color);
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    background: url(../../images/Vector.png) no-repeat right;
}

.paragraph {
    display: flex;
}