body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-element__custom .constructor-element__row .constructor-element__image,
.constructor-element__custom .constructor-element__row .constructor-element__price {
  display:none;
}

.constructor-element__custom .constructor-element__row .constructor-element__text {
   justify-content: center;
}

